/* 
    1) Id:Para crera un css para un id, se utiliza el # 
    2) Clases:para agregar un estilo para una clase, se utiliza el . 
    3) Tags / etiquetas: solamente utilizamos el nombre de la etiqueta
*/

#tituloPrincipal {
 color :blueviolet
}

.elementosDescripcion{
 color:coral
}

h2 {
  color: crimson;
}

h1 {
    color:blue;
    font-size: 50px;
  }

  .descripcion{
    font-size: 24px;
  }




